@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;

}

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }

 main {
     flex: 1 0 auto;
 }

.text-shadow {
    text-shadow: 2px 2px 2px rgba(rgb(34, 6, 6, 0.5), green, blue, alpha);
}

/* Navbar */

nav ul a {
    color: black;
    letter-spacing: 3px;
}

nav .brand-logo {
    color: black;
    letter-spacing: 5px;
    margin-left: 30px;
    text-shadow: 2px 2px 1px orange;
}

.nav-margin {
    margin-bottom: -10px;
}

.bars-icon {
    color: black;
}


/* Title styling */

.letter-space {
    letter-spacing: 2px;
}

.register {
    background-color: #5c5252;
    color: orangered;
}

/* flash styling */

.flashes {
    background-color: orangered;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 15px;
}

.margin-top {
    margin-top: 10px;
}

/* images */

.recipe-img {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: -20px;
}

/* form */

.form {
    box-shadow: 2px 2px 2px black;
}

.image-wrap {
    position: relative;
    display: inline-block;
}

.search-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 2.5vw;
    color: black;
    margin: 6px;
}

.search-text {
    letter-spacing: 2px;
    color: black;
    text-align: center;
    font-size: 2.8vw;
}

.about {
    background-color: rgb(230 246 255 / 60%);
    letter-spacing: 2px;
}

.input {
    font-size: 25px;
}

/* Footer */

.my-footer {
    background-color: #4a4a4a;
    padding: 10px 0px;
    text-align: center;

}

.footer-title {
    letter-spacing: 3px;
    color: white;
    text-shadow: 2px 2px 2px rgb(207, 68, 26);
    text-align: center;
}

.footer-links li {
    display: inline-block;
    text-align: center;
}

.footer-links li i {
    font-size: 30px;
    margin: 20px;
}

/* View Recipe */

.recipe-icon i {
    margin: 10px;
    font-size: 35px;
    color: orangered;
}

.recipe-title {
    font-weight: 300;
    text-transform: uppercase;
}

.card-images {
    max-width: 100%;
    height: auto;
}

ul:not(.browser-default)>li .ing-list {
    list-style: georgian;
    list-style-type: georgian;
    color: blue;
}

