{% extends "base.html" %}
{% block content %}

    <section class="center-align">
        <h3>Log into Recipiy</h3>
        <P>Please enter your created Username and Password to log in and to fully use Recipiy<br>
            Don't forget to check out our new cooking products</P>
    </section>

    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- Username section -->
                <div class="row">
                    <div class="input-field col s12">
                        <input class="validate" id="username" name="username" type="text" required
                        pattern="^[a-zA-Z0-9]{5,15}$">
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Password section -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password"
                        minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register button -->
                <div class="row">
                    <button class="col s12 btn-large grey darken-4 text-shadow letter-space register">
                        Log In
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="center-align">
            New to Recipiy?<br>
            <a href="{{ url_for('register') }}">Click here to Register</a>
        </div>
    </div>

{% endblock %}