{% extends "base.html" %}
{% block content %}
    <!-- recipe search bar -->
    <div class="image-wrap row" id="searcher input">
        <img class="recipe-img" src="{{ url_for('static', filename='images/salad.jpeg') }}">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="col s12 m6 search-div" id="searcher input">
                <label class="text-center search-text" for="searcher">SEARCH RECIPE</label>
                <i class="fas fa-search search-icon text-darken"></i>
                <input class="grey lighten-3" type="text" name="searcher" id="search input" required>
            </div>
        </form>
    </div>

    <!-- about section -->
    <div class="center-align container about">
        <h3>Welcome to Recipiy</h3>
        <p>Here you can view our range of recipes created by us and also by users. You are free to browse
            and use the recipes
            on display. If you reigster you can then save any recipes you may like to your own page.<br> You
            will also have the
            ability to create and upload your own recipes. If they change you can also edit and delete them.
        </p>
    </div>
    
    <!-- card display for added recipies -->
    {% if recipes|length > 0 %}
    <div class="container">
        <div class="row">
            {% for recipe in recipes %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ recipe.image_url }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i
                                class="fas fa-plus-square right"></i></span>
                        <p><a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Recipe</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i
                                class="fas fa-times-circle right"></i></span>
                        <p>{{ recipe.recipe_description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <!-- default message if no search results found -->
    </div>
    {% else %}
    <div class="red-text center-align container about">
        <h3>No Results Found</h3>
    </div>
    {% endif %} 


{% endblock %}