<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <div class="image row">
        <div class="col">
            <span class="center-align">
                <img class="recipe-img" src="/static/images/salad.jpeg">
                <h3>Welcome to Recipiy</h3>
                <P>Here you can view our range of recipes created by us and also by users. You are free to browse and use the recipes 
                    on display. If you reigster you can then save any recipes you may like to your own page.<br> You will also have the 
                    ability to create and upload your own recipes. If they change you can also edit and delete them. 
                </P>
            </span>
        </div>
    </div>

    
    <div class="row" >
        {% for recipe in recipes %}
        <div class="col s12 m3 offset-m1">
           <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="/static/images/spaghetti-carbonara.jpg">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i
                           class="fas fa-plus-square right"></i></span>
                   <p><a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Recipe</a></p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i
                           class="fas fa-times-circle right"></i></span>
                   <p>{{ recipe.recipe_description }}</p>
               </div>
           </div>
        </div>
        {% endfor %}  
    </div>


{% endblock %}