<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}


    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.recipe_description }}<br>
        {{ recipe.recipe_ingredients }}<br>
        {{ recipe.recipe_instructions }}<br>
        {{ recipe.recipe_time }}<br>
        {{ recipe.recipe_tools }}<br>
    {% endfor %}
    
    <div class="row" >
        {% for recipe in recipes %}
        <div class="col s12 m3 offset-m1">
           <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="/static/images/spaghetti-carbonara.jpg">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i
                           class="fas fa-plus-square right"></i></span>
                   <p><a href="#">View Recipe</a></p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i
                           class="fas fa-times-circle right"></i></span>
                   <p>{{ recipe.recipe_description }}</p>
               </div>
           </div>
        </div>
        {% endfor %}  
    </div>


{% endblock %}