{% extends "base.html" %}
{% block content %}

    <section class="center-align">
        <h3>Register</h3>
        <P>Create your username and password to be able to log in and use the sites extra features. 
            You can also take advantage of a 15% discount on our recommended cooking products</P>
    </section>

    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- Username section -->
                <div class="row">
                    <div class="input-field col s12">
                        <input class="validate" id="username" name="username" type="text" required
                        pattern="^[a-zA-Z0-9]{5,15}$">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input class="validate" id="confirm-user" name="confirm-user" type="text" required
                        pattern="^[a-zA-Z0-9]{5,15}$">
                        <label for="confirm-user">Confirm Username</label>
                    </div>
                </div>
                <!-- Password section -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password"
                        minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field col s12">
                        <input class="validate" id="confirm-pass" name="confirm-pass" type="password" class="validate"
                        required pattern="^[a-zA-Z0-9]{5,15}$">
                        <label for="confirm-pass">Confirm Password</label>
                    </div>
                </div>
                <!-- register button -->
                <div class="row">
                    <button class="col s12 btn-large grey darken-4 text-shadow letter-space register">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>


    <!-- <div class="promotion">
        Promotional 15% off on cooking utensils
    </div>
     -->
{% endblock %}