{% extends "base.html" %}
{% block content %}

    <div class="container center-align">
        <div class="row card-panel">
            <div class="card-images col s12">
                <img src="{{ recipe.image_url }}">
            </div>
            <!-- display specific recipe info from db -->
            <div class="col s12 m6 offset-m3">
                <h2> {{ recipe.recipe_name }} </h2>
                <p>{{ recipe.recipe_description }}</p>
                <p>by: {{ recipe.created_by }}</p>
                <!-- display edit and delete buttons only to recipe owner -->
                {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small blue accent-3">Edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red accent-4">Delete</a>
                {% endif %}
                {% if session.user %}
                <a href="{{ url_for('add_favourites', recipe_id=recipe._id) }}"
                    class="btn-small green accent-4">add to My Recipes</a>
                <!-- <form method="POST" action="{{ url_for('add_favourites', recipe_id=recipe._id) }}">
                    <button class="btn-small green accent-4" type="submit">
                  Add to My Recipes
                    </button>
                </form> -->
                {% endif %}
            </div>
        </div>
    </div>

    <!-- dispay recipe time, type and cuisine -->
    <div class="container">
        <div class="row view-recipe">
            <div class="col s12 m3 center-align recipe-icon">
                <i class="fas fa-clock"></i>
                Time needed
                <div>{{ recipe.recipe_time }} minutes</div>
            </div>
            <div class="col s12 m3 center-align recipe-icon">
                <i class="fas fa-hamburger"></i>
                Type of Recipe
                <div>{{ recipe.recipe_type }}</div>
            </div>
            <div class="col s12 m3 center-align recipe-icon">
                <i class="fas fa-globe-americas"></i>
                Cuisine
                <div>{{ recipe.cuisine_type }}</div>
            </div>
            <div class="col s12 m3 center-align recipe-icon">
                <i class="fas fa-allergies"></i>
                Allergens
                <div>{{ recipe.allergens }}</div>
            </div>
        </div>
        <!-- iterate ingredients from recipe -->
        <div class="row">
            <div class="col s12 m4 center-align offset-m1">
                <h4 class="recipe-title">Ingredients</h4>
                {% for ingredient in recipe.recipe_ingredients %}
                    <div>
                        <ul class="ing-list"></ul>
                            <li>{{ ingredient }}</li>
                        </ul>
                    </div>
                {% endfor %}
                <!-- iterate utensils from recipe -->
            </div>
            <div class="col s12 m4 center-align offset-m1">
                <h4 class="recipe-title">Utensils</h4>
                {% for tools in recipe.recipe_tools %}
                <div>
                    <ul class="ing-list"></ul>
                        <li>{{ tools }}</li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- iterate instructions from recipe -->
        <div class="row">
            <div class="col s12 center-align">
                <h4 class="recipe-title">Instructions</h4>
                 {% for instruction in recipe.recipe_instructions %}
                 <div>
                     <ol></ol>
                         <li>{{ instruction }}</li>
                     </ol>
                 </div>
                 {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}